.dashboard {
    background-color: aqua;
}

.dashboard-heading {
    margin: 0 auto 30px;
    padding: 5px 0;
    background-color: yellow;
    width: 30%;
    text-align: center;

}

.data-card {
    display: flex;
    justify-content: center;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.data p {
    margin: 2px 20px 2px;
}